<a href="https://colab.research.google.com/github/VUDataSci/intro-to-github-FaisalMashrur/blob/main/PSet1_2023_09_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem set 1: Data importing and cleaning

Due: 11:59pm on Friday, September 8 by uploading to github

Your name:

1. Data importing: "data_finance.csv" contains a dataset with information about sales transactions. Write the appropriate code for each of the tasks below. This section should be completed without generative AI, but with open access to static online resources like course material, stackoverflow, blogs with sample code, etc.

In [2]:
# Load the pandas library
!pip install pandas
import pandas as pd

# Import the CSV file 'data_finance.csv' into a DataFrame
data_finance = pd.read_csv("/content/data_finance.csv")
print(data_finance)

# Display the column names
print(data_finance.columns)

# Identify the data types of each column
print(data_finance.info())

# Display the first 5 rows of the DataFrame
print(data_finance.head(5))

# Display the last 5 rows of the DataFrame
print(data_finance.tail(5))

# Display a random sample of 5 rows
print(data_finance.sample(5))

# Calculate the total number of rows and columns in the DataFrame
print(data_finance.shape)

# Display summary statistics for the quantity and price columns
print(data_finance[['quantity','price']].describe())

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
    transaction_id          product_name  quantity  price
0                1                 Apple         7  12.34
1                2                Banana         2  19.05
2                3                Cherry         9   5.81
3                4                  Date         4   1.76
4                5            Elderberry         8  10.45
5                6                   Fig         3  18.22
6                7                 Grape         1   7.09
7                8              Honeydew         5  23.48
8                9             Jackfruit        10   2.56
9               10                  Kiwi         6   9.71
10              11                 Lemon         7   4.23
11              12                 Mango         3  14.12
12              13             Nectarine         2   6.87
13              14                Orange         6   3.14
14              15                Papaya         9  22.77
15              16                Quince         8   8.65
16              17             Raspberry         4  16.98
17              18            Strawberry         1   0.99
18              19                Tomato         5  11.11
19              20            Ugli fruit        10  20.43
20              21          Vanilla bean         9  17.29
21              22            Watermelon         8  13.67
22              23                 Xigua         3  21.89
23              24  Yellow passion fruit         2  15.54
24              25              Zucchini         6  24.72
Index(['transaction_id', 'product_name', 'quantity', 'price'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  25 non-null     int64
 1   product_name    25 non-null     object
 2   quantity        25 non-null     int64
 3   price           25 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 928.0+ bytes
None
   transaction_id product_name  quantity  price
0               1        Apple         7  12.34
1               2       Banana         2  19.05
2               3       Cherry         9   5.81
3               4         Date         4   1.76
4               5   Elderberry         8  10.45
    transaction_id          product_name  quantity  price
20              21          Vanilla bean         9  17.29
21              22            Watermelon         8  13.67
22              23                 Xigua         3  21.89
23              24  Yellow passion fruit         2  15.54
24              25              Zucchini         6  24.72
    transaction_id product_name  quantity  price
9               10         Kiwi         6   9.71
11              12        Mango         3  14.12
6                7        Grape         1   7.09
3                4         Date         4   1.76
8                9    Jackfruit        10   2.56
(25, 4)
        quantity      price
count  25.000000  25.000000
mean    5.520000  12.514800
std     2.902872   7.346783
min     1.000000   0.990000
25%     3.000000   6.870000
50%     6.000000  12.340000
75%     8.000000  18.220000
max    10.000000  24.720000

2. Generative AI comparison. Use a reliable generative AI like ChatGPT, Claude, Bing, Jupyter AI, etc. to answer the same questions as Section 1. You should alter the prompt given to the AI to maximize the accuracy and efficiency of its output. Paste both your prompt and the generative AI's output below.

In [ ]:
# Prompt

# AI generated code

3. Data cleaning: "data_students.tsv" contains a dataset with information about students. Write the appropriate code for each of the tasks below. This section should be completed without generative AI, but with open access to static online resources like course material, stackoverflow, blogs with sample code, etc.

In [45]:

# Import "data_students.tsv" into a dataframe
data_students=pd.read_table("/content/data_students.tsv")
print(data_students)

# Rename the columns to improve machine and human-readability
print(data_students.rename(columns={'student_id':'ID','name':'Name',"student's age":'Age',
                              'sex of student':'Gender','location':'Location',
                              'math grade':'GradeMath','science':'GradeScience',
                              'history':'GradeHistory','grade in english':'GradeEnglish'}))

# Display the number of missing values in each column
print(data_students.isna().sum())

# Create a new column identifying whether the age column is missing
data_students["MissingAge"]= data_students.isna()["student's age"]
print(data_students)

# Replace missing values in the 'age' column with the mean age
(data_students.fillna('Q'))
print(data_students)

# Convert the 'gender' column to lowercase

# Split the location column into separate columns for city and state

# Save the cleaned data to a new CSV file with an appropriate name

    student_id       name  student's age sex of student            location  \
0            1      Alice           23.0         Female         Houston, TX
1            2   Benjamin           31.0           Male         Phoenix, AZ
2            3  Charlotte           30.0        Neither         Chicago, IL
3            4     Daniel           24.0        Unknown          Denver, CO
4            5    Eleanor            NaN           male         Atlanta, GA
5            6      Fiona           27.0         Female           Miami, FL
6            7      Grace           28.0        neither         Seattle, WA
7            8      Henry           21.0        Unknown          Boston, MA
8            9   Isabella           28.0           Male          Austin, TX
9           10       Jack           19.0         female        Portland, OR
10          11  Katherine            NaN        Unknown         Detroit, MI
11          12       Liam           35.0        Neither       Las Vegas, NV
12          13        Mia           27.0        unknown       Charlotte, NC
13          14     Nathan           26.0           Male          Dallas, TX
14          15     Olivia           23.0        Neither   San Francisco, CA
15          16   Penelope           22.0         female     Minneapolis, MN
16          17     Quincy           29.0        Unknown        New York, NY
17          18     Rachel           24.0        neither       Nashville, TN
18          19     Samuel           18.0           Male    Philadelphia, PA
19          20     Taylor            NaN         Female     Los Angeles, CA
20          21        Uma            NaN        Unknown  Salt Lake City, UT
21          22     Victor           20.0        Neither     New Orleans, LA
22          23    William           34.0        unknown    Indianapolis, IN
23          24     Xander           23.0        neither       San Diego, CA
24          25    Yasmine            NaN           male     Kansas City, MO
25          26    Zachary           18.0         Female         Raleigh, NC

    math grade  science  history  grade in english
0           90       60       71                72
1           85       82       74                77
2           69       74       98                94
3           70       80       73                64
4          100       97       64               100
5           94       90       75                93
6           90       90       81                92
7           64       78       60                64
8           86       86       97                83
9           81       94       98                77
10          63       86       94                92
11          75       64       94                72
12          61       83       96                78
13          81       62       78                90
14          77      100       92                81
15          67       95       94                72
16          92       75       90                62
17          94      100       74                81
18          68       70       67                64
19          95       66       90                95
20          86       78       98                80
21          81       77       66                90
22          69       98       99                91
23          85       79       77                92
24          90       70       80                88
25          96       95       78                69
    ID       Name   Age   Gender            Location  GradeMath  GradeScience  \
0    1      Alice  23.0   Female         Houston, TX         90            60
1    2   Benjamin  31.0     Male         Phoenix, AZ         85            82
2    3  Charlotte  30.0  Neither         Chicago, IL         69            74
3    4     Daniel  24.0  Unknown          Denver, CO         70            80
4    5    Eleanor   NaN     male         Atlanta, GA        100            97
5    6      Fiona  27.0   Female           Miami, FL         94            90
6    7      Grace  28.0  neither         Seattle, WA         90            90
7    8      Henry  21.0  Unknown          Boston, MA         64            78
8    9   Isabella  28.0     Male          Austin, TX         86            86
9   10       Jack  19.0   female        Portland, OR         81            94
10  11  Katherine   NaN  Unknown         Detroit, MI         63            86
11  12       Liam  35.0  Neither       Las Vegas, NV         75            64
12  13        Mia  27.0  unknown       Charlotte, NC         61            83
13  14     Nathan  26.0     Male          Dallas, TX         81            62
14  15     Olivia  23.0  Neither   San Francisco, CA         77           100
15  16   Penelope  22.0   female     Minneapolis, MN         67            95
16  17     Quincy  29.0  Unknown        New York, NY         92            75
17  18     Rachel  24.0  neither       Nashville, TN         94           100
18  19     Samuel  18.0     Male    Philadelphia, PA         68            70
19  20     Taylor   NaN   Female     Los Angeles, CA         95            66
20  21        Uma   NaN  Unknown  Salt Lake City, UT         86            78
21  22     Victor  20.0  Neither     New Orleans, LA         81            77
22  23    William  34.0  unknown    Indianapolis, IN         69            98
23  24     Xander  23.0  neither       San Diego, CA         85            79
24  25    Yasmine   NaN     male     Kansas City, MO         90            70
25  26    Zachary  18.0   Female         Raleigh, NC         96            95

    GradeHistory  GradeEnglish
0             71            72
1             74            77
2             98            94
3             73            64
4             64           100
5             75            93
6             81            92
7             60            64
8             97            83
9             98            77
10            94            92
11            94            72
12            96            78
13            78            90
14            92            81
15            94            72
16            90            62
17            74            81
18            67            64
19            90            95
20            98            80
21            66            90
22            99            91
23            77            92
24            80            88
25            78            69
student_id          0
name                0
student's age       5
sex of student      0
location            0
math grade          0
science             0
history             0
grade in english    0
dtype: int64
    student_id       name  student's age sex of student            location  \
0            1      Alice           23.0         Female         Houston, TX
1            2   Benjamin           31.0           Male         Phoenix, AZ
2            3  Charlotte           30.0        Neither         Chicago, IL
3            4     Daniel           24.0        Unknown          Denver, CO
4            5    Eleanor            NaN           male         Atlanta, GA
5            6      Fiona           27.0         Female           Miami, FL
6            7      Grace           28.0        neither         Seattle, WA
7            8      Henry           21.0        Unknown          Boston, MA
8            9   Isabella           28.0           Male          Austin, TX
9           10       Jack           19.0         female        Portland, OR
10          11  Katherine            NaN        Unknown         Detroit, MI
11          12       Liam           35.0        Neither       Las Vegas, NV
12          13        Mia           27.0        unknown       Charlotte, NC
13          14     Nathan           26.0           Male          Dallas, TX
14          15     Olivia           23.0        Neither   San Francisco, CA
15          16   Penelope           22.0         female     Minneapolis, MN
16          17     Quincy           29.0        Unknown        New York, NY
17          18     Rachel           24.0        neither       Nashville, TN
18          19     Samuel           18.0           Male    Philadelphia, PA
19          20     Taylor            NaN         Female     Los Angeles, CA
20          21        Uma            NaN        Unknown  Salt Lake City, UT
21          22     Victor           20.0        Neither     New Orleans, LA
22          23    William           34.0        unknown    Indianapolis, IN
23          24     Xander           23.0        neither       San Diego, CA
24          25    Yasmine            NaN           male     Kansas City, MO
25          26    Zachary           18.0         Female         Raleigh, NC

    math grade  science  history  grade in english  MissingAge
0           90       60       71                72       False
1           85       82       74                77       False
2           69       74       98                94       False
3           70       80       73                64       False
4          100       97       64               100        True
5           94       90       75                93       False
6           90       90       81                92       False
7           64       78       60                64       False
8           86       86       97                83       False
9           81       94       98                77       False
10          63       86       94                92        True
11          75       64       94                72       False
12          61       83       96                78       False
13          81       62       78                90       False
14          77      100       92                81       False
15          67       95       94                72       False
16          92       75       90                62       False
17          94      100       74                81       False
18          68       70       67                64       False
19          95       66       90                95        True
20          86       78       98                80        True
21          81       77       66                90       False
22          69       98       99                91       False
23          85       79       77                92       False
24          90       70       80                88        True
25          96       95       78                69       False
    student_id       name  student's age sex of student            location  \
0            1      Alice           23.0         Female         Houston, TX
1            2   Benjamin           31.0           Male         Phoenix, AZ
2            3  Charlotte           30.0        Neither         Chicago, IL
3            4     Daniel           24.0        Unknown          Denver, CO
4            5    Eleanor            NaN           male         Atlanta, GA
5            6      Fiona           27.0         Female           Miami, FL
6            7      Grace           28.0        neither         Seattle, WA
7            8      Henry           21.0        Unknown          Boston, MA
8            9   Isabella           28.0           Male          Austin, TX
9           10       Jack           19.0         female        Portland, OR
10          11  Katherine            NaN        Unknown         Detroit, MI
11          12       Liam           35.0        Neither       Las Vegas, NV
12          13        Mia           27.0        unknown       Charlotte, NC
13          14     Nathan           26.0           Male          Dallas, TX
14          15     Olivia           23.0        Neither   San Francisco, CA
15          16   Penelope           22.0         female     Minneapolis, MN
16          17     Quincy           29.0        Unknown        New York, NY
17          18     Rachel           24.0        neither       Nashville, TN
18          19     Samuel           18.0           Male    Philadelphia, PA
19          20     Taylor            NaN         Female     Los Angeles, CA
20          21        Uma            NaN        Unknown  Salt Lake City, UT
21          22     Victor           20.0        Neither     New Orleans, LA
22          23    William           34.0        unknown    Indianapolis, IN
23          24     Xander           23.0        neither       San Diego, CA
24          25    Yasmine            NaN           male     Kansas City, MO
25          26    Zachary           18.0         Female         Raleigh, NC

    math grade  science  history  grade in english  MissingAge
0           90       60       71                72       False
1           85       82       74                77       False
2           69       74       98                94       False
3           70       80       73                64       False
4          100       97       64               100        True
5           94       90       75                93       False
6           90       90       81                92       False
7           64       78       60                64       False
8           86       86       97                83       False
9           81       94       98                77       False
10          63       86       94                92        True
11          75       64       94                72       False
12          61       83       96                78       False
13          81       62       78                90       False
14          77      100       92                81       False
15          67       95       94                72       False
16          92       75       90                62       False
17          94      100       74                81       False
18          68       70       67                64       False
19          95       66       90                95        True
20          86       78       98                80        True
21          81       77       66                90       False
22          69       98       99                91       False
23          85       79       77                92       False
24          90       70       80                88        True
25          96       95       78                69       False

4. Generative AI comparison. Use a reliable generative AI like ChatGPT, Claude, Bing, Jupyter AI, etc. to answer the same questions as Section 3. You should alter the prompt given to the AI to maximize the accuracy and efficiency of its output. Paste both your prompt and the generative AI's output below.

5. Generative AI evaluation. Compare the code you produced using static sources to that produced by the generative AI. Write 2-3 paragraphs evaluating the strengths and weaknesses of both approaches. In doing so, you should answer the following questions:
* Having now seen the code produced by Generative AI, how would you have written your code differently?
* Where does Generative AI excel, and where did it fall short?
* What was important in writing your prompt?